@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-badge {
  line-height: 1;
}

.ant-badge-count {
  transform: none !important;
}
